.app-header {
  /* background-color: var(--clr5); */
  background-color: rgb(41, 41, 41);
  color: var(--secondary-clr1);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-header .app-logo {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}

.app-header .app-head-nav {
  display: flex;
  flex-direction: column;
  font-family: lato;
  font-size: 0.7em;
  font-weight: 700;
}

.app-header .app-head-nav .main-nav-router {
  font-size: 2em;
  color: white;
}
.app-header .app-head-nav .main-nav-router:hover {
  text-shadow: 0 0 15px white;
  text-decoration: underline;
}

/* MEDIA QUERIES */
/* small */
@media (min-width: 460px) {
  .app-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .app-header .app-head-nav {
    flex-direction: row;
    gap: 30px;
    font-size: 1em;
  }
}

/* medium */

/* large */
