@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
  font-family: lato;
  src: url(/assets/fonts/lato/Lato-Regular.ttf);
}

@font-face {
  font-family: lato-bold;
  src: url(/assets/fonts/lato/Lato-Bold.ttf);
}

@font-face {
  font-family: lato-light;
  src: url(/assets/fonts/lato/Lato-Light.ttf);
}
